apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: owntrack
data:
  loki-config.yaml: |
    auth_enabled: false
    
    ingester:
      chunk_idle_period: 3m
      max_chunk_age: 1h
      lifecycler:
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1
    
    limits_config:
      max_query_length: 0
      max_entries_limit_per_query: 1000000
      reject_old_samples: false
      max_query_lookback: 0s
    
    schema_config:
      configs:
        - from: 2023-01-01
          store: boltdb-shipper
          object_store: filesystem
          schema: v11
          index:
            prefix: index_
            period: 24h
    
    server:
      http_listen_port: 3100
    
    storage_config:
      boltdb_shipper:
        active_index_directory: /loki/boltdb-shipper-active
        shared_store: filesystem
      filesystem:
        directory: /loki/chunks
