apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: owntrack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
        - name: loki
          image: grafana/loki:latest
          args:
            - -config.file=/etc/loki/local-config.yaml
          ports:
            - name: http
              containerPort: 3100
          volumeMounts:
            - name: data
              mountPath: /loki
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: loki-data
